.categoryCard {
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;

  .icon {
    position: relative;
    height: 38px;
    overflow: hidden;
    isolation: isolate;

    img {
      position: absolute;
      top: -8px;
      right: 18px;
      z-index: -1;
    }
  }

  .content {
    cursor: pointer;
    background-color: #1c204b;
    padding: 28px 24px;
    border-radius: 13px;
    transition: 0.1s ease-in-out;

    &:hover {
      background-color: #33397a;
    }

    .upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6px;

      .title {
        font-weight: 500;
      }

      button {
        &:hover {
          svg {
            fill: white;
          }
        }

        svg {
          fill: #bbc0ff;
          align-self: center;
          transition: 0.1s ease-in-out;
        }
      }
    }

    .lower {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .current {
        font-size: 2rem;
        font-weight: 300;
      }

      .previous {
        color: #bbc0ff;
        font-size: 0.9375rem;
      }
    }
  }

  @media screen and (min-width: 1100px) {
    .icon {
      height: 45px;
    }

    .content {
      .upper {
        margin-bottom: 24px;
      }

      .lower {
        display: block;

        .current {
          font-size: 56px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
