$rubik: 'Rubik', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: hsl(226, 43%, 10%);
  font-family: $rubik;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}
